// scss를 사용

@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

@mixin flexCenterTwo($size: 30px) {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  li {
    margin-right: $size;
  }
  @content;
}

.one {
  @include flexCenterTwo(
    10px
  ); // 정의한 flexCenter mixin을 사용하여 코드 한줄이면 끝!
  background: rgb(58, 235, 255);
}

.two {
  @include flexCenterTwo(20px);
  background: rgb(255, 108, 108);
}

.three {
  @include flexCenterTwo {
    color: aliceblue;
  }
  background: rgb(255, 183, 183);
}
